@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #263745;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-blue: #a3dcf6;
  --color-brand-red: #cc1c3c;
  --color-brand-light: #e8f7fe;
  --color-brand-dark: #263745;
  --color-brand-teal: #1ca08f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
